{~
	@dblog = @db.instance->log();
	@total = preg_match_all('/\([0-9\.]{3,}ms\)/', @dblog, $matches);
	@cached = substr_count(@dblog, '[CACHED]');
~}
<check if="{{ @DEBUG == 3 }}">
	<br>
	<div class="well well-sm log">{{ @dblog | esc }}</div>
</check>
<footer class="row"></footer>
<include href="blocks/footer-modals.html" if="{{ !empty(@user.id) }}" />
<include href="blocks/footer-scripts.html" />
