<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="{{ @site.description | esc }}">
<title>{{ empty(@title) ? @site.name : @title . ' - ' . @site.name | esc }}</title>
<link rel="stylesheet" href="{{ @BASE }}/{{ empty(@user.theme) ? @site.theme : @user.theme }}">
<link rel="stylesheet" href="{{ @BASE }}/minify/css/style.css,datepicker.css">
<link rel="stylesheet" href="{{ @BASE }}/css/font-awesome.min.css">
<link rel="stylesheet" href="{{ @BASE }}/css/emote.css">
<link rel="search" type="application/opensearchdescription+xml" href="{{ @BASE }}/opensearch.xml" title="{{ @site.name | esc }}">
